data/data_clean_insecta.csv filter=lfs diff=lfs merge=lfs -text
data/data_clean_insecta.fasta filter=lfs diff=lfs merge=lfs -text
data/data_balanced_insecta.csv filter=lfs diff=lfs merge=lfs -text
data/data_balanced_insecta.fasta filter=lfs diff=lfs merge=lfs -text
